@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #2C2C2C;
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #0F1015;
}


#BAN {
  color: #fff;
  position: absolute;
  top: 10%;
  font-size: 20px
}
#PURGE {
  color: #fff;
  position: absolute;
  top: 15%;
  font-size: 20px
}
#KICK {
  color: #fff;
  position: absolute;
  top: 20%;
  font-size: 20px
}
#LOCK {
  color: #fff;
  position: absolute;
  top: 25%;
  font-size: 20px
}
#MUTE {
  color: #fff;
  position: absolute;
  top: 30%;
  font-size: 20px
}
#REMROLE {
  color: #fff;
  position: absolute;
  top: 35%;
  font-size: 20px
}
#REWARN {
  color: #fff;
  position: absolute;
  top: 40%;
  font-size: 20px
}
#SETNICK {
  color: #fff;
  position: absolute;
  top: 45%;
  font-size: 20px
}
#SM {
  color: #fff;
  position: absolute;
  top: 50%;
  font-size: 20px
}
#UNLOCK {
  color: #fff;
  position: absolute;
  top: 55%;
  font-size: 20px
}
#UM {
  color: #fff;
  position: absolute;
  top: 60%;
  font-size: 20px
}
#VCK {
  color: #fff;
  position: absolute;
  top: 65%;
  font-size: 20px
}#WARN {
  color: #fff;
  position: absolute;
  top: 70%;
  font-size: 20px
}
}
#WARNIS {
  color: #fff;
  position: absolute;
  top: 75%;
  font-size: 20px
}

hr {
    width:1%;
    margin:0 auto;
  align-items: center;
  justify-content: center
}

#linkA {
   color: #fff;
  position: absolute;
  font-size: 25px;
  top: 32%;
  text-decoration: none
}

#linkB {
  color: #fff;
  position: absolute;

  font-size: 25px;
  top: 42%;
   text-decoration: none
}

#linkC {
  color: #fff;
  position: absolute;
  font-size: 25px;
  top: 52%;
   text-decoration: none
}
#linkD {
  color: #fff;
  position: absolute;
 
  font-size: 25px;
  top: 62%;
   text-decoration: none
}

#linkE {
  color: #fff;
  position: absolute;
 
  font-size: 25px;
  top: 72%;
   text-decoration: none
}

#notice {
  color: #fff;
  position: absolute;
  width: 341.422px;
  top: 92%;
  left: 39%;
  
  
}

#LOGO {
   color: #fff;
   position: absolute;
  top: 1%;
  left: 1%;
  font-size: 20px;
  text-decoration: none
}
